<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de produtos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-product">
    <h5 class="card-header">Lista de produtos</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Marca</th>
              <th scope="col">Data do Modelo</th>
              <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.modelYear | date}}</td>
              <td>{{product.price | currency}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editProduct(product)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteProduct(product)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-product">
      <h5 class="card-header">Adicionar/Atualizar produto</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveProduct(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" [(ngModel)]="product.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite o nome">
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors?.['required']">Nome é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="brand">Marca</label>
                <input type="text" [(ngModel)]="product.brand" id="brand" name="brand" #brand="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && brand.invalid }" placeholder="Digite a marca">
                <div *ngIf="f.submitted && brand.invalid" class="invalid-feedback">
                    <div *ngIf="brand.errors?.['required']">Marca é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="modelYear">Ano de Fabricação do modelo</label>
                <input type="date" [(ngModel)]="product.modelYear" id="modelYear" name="modelYear" #modelYear="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && modelYear.invalid }" placeholder="Digite o ano de fabricação">
                <div *ngIf="f.submitted && modelYear.invalid" class="invalid-feedback">
                    <div *ngIf="modelYear.errors?.['required']">Ano de fabricação é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
              <label for="price">Preço</label>
              <input type="number" [(ngModel)]="product.price" id="price" name="price" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite o preço">
              <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                  <div *ngIf="price.errors?.['required']">Preço é obrigatório</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-add-product">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-product" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>
